{{ 'section-prices.css' | asset_url | stylesheet_tag }}

<div id="prices" class="prices">
  <div class="page-width">
    <div class="prices-top">
      {%- if section.settings.title != blank -%}
        <h2 class="prices-top__title h1">
          {{- section.settings.title -}}
        </h2>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        <p class="prices-top__text">
          {{- section.settings.text -}}
        </p>
      {%- endif -%}
    </div>
    <div class="prices-items">
      {%- for block in section.blocks -%}
        <div class="prices-item">
          <div class="prices-item__top">
            {%- if block.settings.item_img != blank -%}
              <img
                class="prices-item__top--img lazyload"
                src="{{- block.settings.item_img | image_url: width: 1200 -}}"
                alt="{{- block.settings.item_img.alt | escape -}}"
                loading="lazy">
            {%- endif -%}
            <div class="prices-item__top--box">
              {%- if block.settings.item_title != blank -%}
                <h4 class="prices-item__top--box-title">
                  {{- block.settings.item_title -}}
                </h4>
              {%- endif -%}
              {%- if block.settings.item_text != blank -%}
                <h5 class="prices-item__top--box-text">
                  {{- block.settings.item_text -}}
                </h5>
              {%- endif -%}
            </div>
          </div>
          <div class="prices-item__bottom">
            <ul class="prices-item__bottom--lists">
              {%- if block.settings.item_first_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_first_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_second_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_second_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_third_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_third_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_fourth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_fourth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_fifth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_fifth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_sixth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_sixth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_seventh_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_seventh_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_eighth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_eighth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_ninth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_ninth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_tenth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_tenth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_eleventh_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_eleventh_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_twelfth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_twelfth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_thirteenth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_thirteenth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_fourteenth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_fourteenth_title -}}
                </li>
              {%- endif -%}
              {%- if block.settings.item_fifteenth_title != blank -%}
                <li class="prices-item__bottom--list">
                  {{- block.settings.item_fifteenth_title -}}
                </li>
              {%- endif -%}
            </ul>
            {%- if block.settings.item_btn_link != blank -%}
              <a class="prices-item__bottom--btn" href="{{- block.settings.item_btn_link -}}">
                {{- block.settings.item_btn_text -}}
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Prices",
    "tag": "section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "item_img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "item_title",
            "default": "Title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "item_text",
            "default": "Title",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "List"
          }, {
            "type": "text",
            "id": "item_first_title",
            "label": "Item 1"
          }, {
            "type": "text",
            "id": "item_second_title",
            "label": "Item 2"
          }, {
            "type": "text",
            "id": "item_third_title",
            "label": "Item 3"
          }, {
            "type": "text",
            "id": "item_fourth_title",
            "label": "Item 4"
          }, {
            "type": "text",
            "id": "item_fifth_title",
            "label": "Item 5"
          }, {
            "type": "text",
            "id": "item_sixth_title",
            "label": "Item 6"
          }, {
            "type": "text",
            "id": "item_seventh_title",
            "label": "Item 7"
          }, {
            "type": "text",
            "id": "item_eighth_title",
            "label": "Item 8"
          }, {
            "type": "text",
            "id": "item_ninth_title",
            "label": "Item 9"
          }, {
            "type": "text",
            "id": "item_tenth_title",
            "label": "Item 10"
          }, {
            "type": "text",
            "id": "item_eleventh_title",
            "label": "Item 11"
          }, {
            "type": "text",
            "id": "item_twelfth_title",
            "label": "Item 12"
          }, {
            "type": "text",
            "id": "item_thirteenth_title",
            "label": "Item 13"
          }, {
            "type": "text",
            "id": "item_fourteenth_title",
            "label": "Item 14"
          }, {
            "type": "text",
            "id": "item_fifteenth_title",
            "label": "Item 15"
          }, {
            "type": "text",
            "id": "item_btn_text",
            "default": "Title",
            "label": "Button text"
          }, {
            "type": "url",
            "id": "item_btn_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Prices",
        "blocks": [
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}